.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.product-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.product-list li{
  text-align: left;
  padding: 0 1em 2em;
  min-width: 200px;
  border: 1px solid #ccc;
  margin: 0.5em;
}

.active{
  background-color: #887af6;
  color: rgb(28, 9, 93);
}

.flex-qtt{
  display: flex;
  justify-content: center;
}
.flex-qtt *{
  width: 2em;
}
.btn-prod{
  text-align: center;
}
.btn-prod button{
  padding: 0.7em 1em
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
